html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; 
  background: url('./Background_image.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #080832; 
  background-color: #080832; 
  color: white; 
  border-radius: 8px; 
  padding: 2rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 600px; 
  box-sizing: border-box; 
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem; 
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.login-form input {
  padding: 0.5rem;
  margin-bottom: 1rem; 
  border: none;
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 1rem; 
  box-sizing: border-box; 
}

.login-container p {
  margin-top: 1rem; 
  font-size: 0.9rem; 
}

.login-container a {
  color: #007bff; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.login-container a:hover {
  color: #0056b3; 
}

@media (max-width: 800px) {
  .login-container {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .login-container {
    width: 250px;
  }
}

.login-form button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.login-form button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.login-form button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login-form button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
